@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.nav {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav ul li a {
    font-size: 1rem !important; 
    text-decoration: none;
    color: black;
    font-weight: 600;
    &:hover {
        color: #575291;
        transition: all .3s ease-in-out;
    }
}

.nav a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0 0 ;
}

.banner::before {
    content: ''; /* Cria um conteúdo vazio para o pseudo-elemento */
    position: absolute; /* Torna o pseudo-elemento posicionado de forma absoluta */
    top: 0; /* Posiciona o pseudo-elemento no topo do .banner */
    left: 0; /* Alinha o pseudo-elemento à esquerda */
    width: 100%; /* Define a largura para 100% do elemento pai */
    height: 80vh; /* Define a altura para 80% da altura da viewport */
    background: linear-gradient(to top, #ffffff 0%, #ffffff00 50%);
    z-index: 10; /* Garante que o pseudo-elemento fique atrás do conteúdo da .banner */
}

.banner img{
    width: 100%;
    object-fit: contain;
    object-position: 0px -70px;
    overflow: hidden;

}

.content {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content div {
    border: 2px solid #252525;
    border-radius: 15px;
    padding: 40px 20px;
}

#p1 {
    margin-bottom: 15px;
}

#formatacao ul {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.e1 {
    margin-left: 10px;
}

.e2 {
    margin-left: 25px;
}

.botao {
    width: 30%;
    padding: 15px 0 !important;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #ffffff;
    justify-self: center;
    align-self: center;
    margin-top: 40px;
    cursor: pointer;
    &:hover {
        background-color: #4d4d4d;
    }
}

.botao a {
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.footer {
    margin: 0 !important;
    padding: 0;
    background-color: #252525;
    height: 80px !important;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
    transition: all .5s;
}

.footer a:hover {
    color: #575291;
}

@media(max-width: 767px) {
    .nav ul {
        display: none;
    }

    .banner {
        width: 100vw;
    }
    .banner::before {
        background: linear-gradient(to top, #ffffff 15%, #ffffff00 50%);
    }

    .banner img {
        height: 100% !important;
        width: 500% !important ;
        object-fit: contain !important;
    }

    .content {
        padding: 10px;
    }

    .botao {
        width: 100%;
        justify-self: center;
        align-items: center;
    }
}